<section>

  <details name="details" open>
    <summary>Summary</summary>
    {% include "radon::cc/fragments/body/cc_0.html" %}
  </details>

  <details name="details">
    <summary>By Directory</summary>
    {% include "radon::cc/fragments/body/cc_1.html" %}
  </details>

  <details name="details">
    <summary>By File</summary>
    {% include "radon::cc/fragments/body/cc_2.html" %}
  </details>

  <details name="details">
    <summary>By Entity</summary>
    {% include "radon::cc/fragments/body/cc_3.html" %}
  </details>

  <details name="details">
    <summary>Derived Metrics</summary>
    {% include "radon::cc/fragments/body/cc_d.html" %}
  </details>

  <details name="details">
    <summary>Trend</summary>
    <div class="bordered">{{ cc_h }}</div>
  </details>

</section>

<hr />

<h6>As Of {{ cc_as_of }}</h6>
