<nav>

  <ul>

    <li>
      <a href="/" {% if current_path == '/' %}aria-current="page"{% endif %} style="display: flex; align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
        </svg>
      </a>
    </li>

    {% for tool in navbar %}
    <li>
      <a href="/{{ tool.name }}" {% if current_path == '/' + tool.name %}aria-current="page"{% endif %}>
        {{ tool.description }}
      </a>
    </li>
    {% endfor %}

  </ul>

  <ul>
    <li>
      <details class="dropdown">
        <summary role="button" class="secondary" style="font-size: 1.0rem;">☰</summary>
        <ul>
          <li><a href="/admin/status">Status</a></li>
          <li><a href="/admin/about">About</a></li>
        </ul>
      </details>
    </li>
  </ul>

</nav>
