<select name="project"
        aria-label="Select your project..."
        hx-get={{ set_project }}       {# HTMX endpoint #}
        hx-target="#page-body-content" {# Where to update #}
        hx-swap="innerHTML"            {# What/when to update semantic #}
        hx-trigger="load, change"      {# Trigger on page load *AND* selection change #}
        hx-include="[name='analysis']" {# Include analysis selector value #}
        hx-on:htmx:before-request="document.getElementById('page-body-content').innerHTML = '<p aria-busy=true>Loading...</p>'"
>
  {% for option in project_options %}
    <option value="{{ option.value }}" {% if option.selected %}selected{% endif %} >{{ option.display}}</option>
  {% endfor %}
</select>
