<style>
 .dashboard-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   gap: 1rem;
 }

 .dashboard-card {
   background: var(--card-background-color);
   border-radius: var(--border-radius);
   padding: 1rem;
   border: 1px solid var(--muted-border-color);
 }

 .dashboard-placeholder {
   background: var(--code-background-color);
   /* height: 400px; */
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: var(--border-radius);
   color: var(--muted-color);
 }

 /* We want our "as of" dates embedded in our titles to be really smaller */
 .as-of {
   font-size: 0.7rem;
 }
</style>

<section>
  <div class="dashboard-grid">
    {% for card in cards %}
    <article class="dashboard-card">
      <div>
        <h4>
          {% if card.tool.upper() == card.ingest_dimension.upper() %}
            <a href="/{{ card.tool }}">{{ card.tool.upper() }}</a>
          {% else %}
            <a href="/{{ card.tool }}">
              {{ card.tool.upper() }} - {{ card.ingest_dimension.upper() }}
            </a>
          {% endif %}
          <span class="as-of">as of {{ card.as_of_date }}</span>
        </h4>
        {% include [card.template] %}
      </div>
    </article>
    {% endfor %}
  </div>

</section>
