<select name="analysis"
        aria-label="Select your Radon analysis..."
        hx-get={{ set_analysis }}                    {# HTMX endpoint #}
        hx-target="#page-body-content"               {# Where to update #}
        hx-swap="innerHTML"                          {# What to update semantic #}
        hx-trigger="change"                          {# Trigger ONLY on selection change #}
        hx-include="[name='project'], [name='scan']" {# Include project selector value #}
>
  {% for option in analysis_options %}
  <option value="{{ option.value }}"
          {% if option.selected %}selected{% endif %}>
    {{ option.display}}
  </option>
  {% endfor %}
</select>
