<section>

  {% include "radon::cc_0.html" %}

  <details name="details">
    <summary>By Directory</summary>
    {% include "radon::cc_1.html" %}
  </details>

  <details name="details">
    <summary>By File</summary>
    {% include "radon::cc_2.html" %}
  </details>

  <details name="details">
    <summary>By Entity</summary>
    {% include "radon::cc_3.html" %}
  </details>

  <details name="details">
    <summary>Trends</summary>
    <div class="bordered">{{ cc_h }}</div>
  </details>

</section>

<hr />

<h6>As Of {{ cc_as_of }}</h6>
