<style>
 .chart-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
   gap: 1rem;
 }

 .chart-card {
   background: var(--card-background-color);
   border-radius: var(--border-radius);
   padding: 1rem;
   border: 1px solid var(--muted-border-color);
 }

 .chart-placeholder {
   background: var(--code-background-color);
   height: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: var(--border-radius);
   color: var(--muted-color);
 }
</style>

<section>

  {% include "radon::hal_0.html" %}

  <details name="details">
    <summary>By Directory</summary>
    {% include "radon::hal_1.html" %}
  </details>

  <details name="details">
    <summary>By File</summary>
    {% include "radon::hal_2.html" %}
  </details>

  <details name="details">
    <summary>By Entity</summary>
    {% include "radon::hal_3.html" %}
  </details>

  <details name="details">
    <summary>Trends</summary>
    <section>
      <div class="chart-grid">
        {% for chart in hal_h.values() %}
        <article class="chart-card">
          <div class="chart-placeholder">{{ chart }}</div>
        </article>
        {% endfor %}

      </div>
    </section>

  </details>

</section>

<hr />

<h6>As Of {{ hal_as_of }}</h6>
