<table id="level_1" class="striped">
  <thead>
    <tr>
      <th scope="col" style="text-align: left"  >Directory</th>
      <th scope="col" style="text-align: right" >Maintainability Index</th>
      <th scope="col" style="text-align: center">Grade</th>
    </tr>
  </thead>
  <tbody>
    {% for directory, metric in mi_1.mi_by_directory.items() %}
    <tr>
      <td style="text-align: left"  >{{ directory }}</td>
      <td style="text-align: right">{{ "{:.1f}".format(metric.score) }}</td>
      <td style="text-align: center; color: var(--pico-muted-color); background-color: {{ metric.color }}">{{ metric.grade }}
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>new Tablesort(document.getElementById('level_1'));</script>
