<table>
  <thead>
    <tr>
      <th scope="col" style="text-align: center">SLOC</th>
      <th scope="col" style="text-align: center">Multi</th>
      <th scope="col" style="text-align: center">Comment</th>
      <th scope="col" style="text-align: center">Blank</th>
      <th scope="col" style="text-align: center">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: right">    {{ "{:,d}".format(raw_0.sloc)     }}</td>
      <td style="text-align: right">    {{ "{:,d}".format(raw_0.multi)    }}</td>
      <td style="text-align: right">    {{ "{:,d}".format(raw_0.comments) }}</td>
      <td style="text-align: right">    {{ "{:,d}".format(raw_0.blank)    }}</td>
      <td style="text-align: right"><b> {{ "{:,d}".format(raw_0.loc)      }}</b></td>
    </tr>
    <tr>
      <td style="text-align: right"><small>    {{ "{:.1f}".format(raw_0.sloc_p)     }}%</small></td>
      <td style="text-align: right"><small>    {{ "{:.1f}".format(raw_0.multi_p)    }}%</small></td>
      <td style="text-align: right"><small>    {{ "{:.1f}".format(raw_0.comments_p) }}%</small></td>
      <td style="text-align: right"><small>    {{ "{:.1f}".format(raw_0.blank_p)    }}%</small></td>
      <td style="text-align: right"><small><b> {{ "{:.1f}".format(raw_0.loc_p)      }}%</b></small></td>
    </tr>
  </tbody>
</table>
