<section>

  <details name="details" open>
    <summary>Summary</summary>
    {% include "radon::raw/fragments/body/raw_0.html" %}
  </details>

  <details name="details">
    <summary>By Directory</summary>
    {% include "radon::raw/fragments/body/raw_1.html" %}
  </details>

  <details name="details">
    <summary>By File</summary>
    {% include "radon::raw/fragments/body/raw_2.html" %}
  </details>

  <details name="details">
    <summary>Trends</summary>
    <div class="bordered">{{ raw_h }}</div>
  </details>

</section>

<hr />

<h6>As Of {{ raw_as_of }}</h6>
