<section>

  <details name="details" open>
    <summary>Summary</summary>
    {% include "ruff::fragments/body/summary.html" %}
  </details>

  <details name="details">
    <summary>Directory</summary>
    {% include "ruff::fragments/body/directory.html" %}
  </details>

  <details name="details">
    <summary>File</summary>
    {% include "ruff::fragments/body/file.html" %}
  </details>

  <details name="details">
    <summary>Derived Metrics</summary>
    {% include "ruff::fragments/body/derived.html" %}
  </details>

  <details name="details">
    <summary>Trend</summary>
    <div class="bordered">
      {{ chart_t }}
    </div>
  </details>

</section>

<hr />

<h6>As Of {{ as_of }}</h6>
