{% macro cell(value, percentage=None, bold=False, align="right") %}
<td style="text-align: {{ align }}">

  {% if bold %}<b>{% endif %} {{ "{:,d}".format(value) }} {% if bold %}</b>{% endif %}

  {% if percentage is not none %}
    <small>({{ "%.1f"|format(percentage) }}%)</small>
    {% endif %}

</td>
{% endmacro %}

<table>
  <thead>
    <tr>
      <th scope="col" style="text-align: center">LOC</th>
      <th scope="col" style="text-align: center">Comments</th>
      <th scope="col" style="text-align: center">Blanks</th>
      <th scope="col" style="text-align: center">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{ cell(level_0.lines_code   , level_0.lines_code_p   ) }}
      {{ cell(level_0.lines_comment, level_0.lines_comment_p) }}
      {{ cell(level_0.lines_blank  , level_0.lines_blank_p  ) }}
      {{ cell(level_0.lines_total  , bold=True             ) }}
    </tr>
  </tbody>
</table>
