<table class="striped">
  <thead>
    <tr>
      <th scope="col" style="text-align: left">Metric</th>
      <th scope="col" style="text-align: center">Value</th>
      <th scope="col" style="text-align: center">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">Maintainability</td>
      <td style="text-align: center">{{ "{:.1f}".format(mi_d.row.score) }}</td>
      <td style="text-align: center; color: var(--pico-muted-color); background-color: {{ mi_d.row.color }}">{{ mi_d.row.grade }}</td>
    </tr>
  </tbody>
</table>
