<section>

  <details name="details" open>
    <summary>Summary</summary>
    {% include "cloc::fragments/body/level_0.html" %}
  </details>

  <details name="details">
    <summary>By Directory</summary>
    {% include "cloc::fragments/body/level_1.html" %}
  </details>

  <details name="details">
    <summary>By File</summary>
    {% include "cloc::fragments/body/level_2.html" %}
  </details>

  <details name="details">
    <summary>Derived Metrics</summary>
    {% include "cloc::fragments/body/level_d.html" %}
  </details>

  <details name="details">
    <summary>Trend</summary>
    <div class="bordered">{{ cloc_h }}</div>
  </details>

  <details name="details">
    <summary>File Sizes</summary>
    <div class="bordered">{{ cloc_f }}</div>
  </details>

</section>

<hr />

<h6>As Of {{ cloc_as_of }}</h6>
