<table class="striped">
  <thead>
    <tr>
      <th scope="col" style="text-align: left">Metric</th>
      <th scope="col" style="text-align: right">Value</th>
      <th scope="col" style="text-align: center">Grade</th>
    </tr>
  </thead>
  <tbody>
    {% for row in level_d.rows %}
    <tr>
      <td style="text-align: left">{{ row.type }}'s per kLOC</td>
      <td style="text-align: right">{{ "{:.0f}".format(row.fxtd_d.score) }}</td>
      <td style="text-align: center; color: var(--pico-muted-color); background-color: {{ row.fxtd_d.color }}">
        {{ row.fxtd_d.grade }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% if composite %}
  <tfoot>
    <tr>
      <td style="text-align: left">Composite (weighted)</td>
      <td style="text-align: right">{{ "{:.0f}".format(composite.score) }}</td>
      <td style="text-align: center; color: var(--pico-muted-color); background-color: {{ composite.color }}">
        {{ composite.grade }}
      </td>
    </tr>
  </tfoot>
  {% endif %}
</table>
