{% if ty_0 %}

<section>

  {% include "ty::level_0.html" %}

  <details name="details">
    <summary>By Check</summary>
    {% include "ty::level_1.html" %}
  </details>

  <details name="details">
    <summary>By Directory</summary>
    {% include "ty::level_2.html" %}
  </details>

  <details name="details">
    <summary>File</summary>
    {% include "ty::level_3.html" %}
  </details>

  <details name="details">
    <summary>Trend</summary>
    <div class="plotly_chart">{{ ty_h }}</div>
  </details>

</section>

<hr />

<h6>As Of {{ ty_as_of }}</h6>

{% else %}

<p>Congratulations!...NO Ty issues found.</p>

{% endif %}
