<table class="striped">
  <thead>
    <tr>
      <th scope="col" style="text-align: left">Entity Type</th>
      <th scope="col" style="text-align: center">Value</th>
      <th scope="col" style="text-align: center">Grade</th>
    </tr>
  </thead>
  <tbody>
    {% for row in level_d.rows %}
    <tr>
      <td style="text-align: left">{{ row.entity_type }}</td>
      <td style="text-align: center">{{ "{:.1f}".format(row.cc_d.score) }}</td>
      <td style="text-align: center; color: var(--pico-muted-color); background-color: {{ row.cc_d.color }}">{{ row.cc_d.grade }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
