<table id="level_1" class="striped">
  <thead>
    <tr>
      <th scope="col" style="text-align: left">Check</th>
      <th scope="col" style="text-align: right">Count</th>
    </tr>
  </thead>
  <tbody>
    {% for row in level_1.results %}
    <tr>
      <td style="text-align: left">{{ row.check_name }}</td>
      <td style="text-align: right">{{ "{:,d}".format(row.count) }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% if level_1.results %}
  <tfoot>
    <tr>
      <td style="text-align: left">TOTAL</td>
      <td style="text-align: right">{{ "{:,d}".format(level_1.summary.count) }}</td>
    </tr>
  </tfoot>
  {% endif %}
</table>
<script>new Tablesort(document.getElementById('level_1'));</script>
