<table class="striped">
  <thead>
    <tr>
      <th scope="col" style="text-align: left">Metric</th>
      <th scope="col" style="text-align: center">Value</th>
      <th scope="col" style="text-align: center">Grade</th>
    </tr>
  </thead>
  <tbody>
    {% if ty_d.row.violations_per_kloc.score %}
    <tr>
      <td style="text-align: left">Ty Checks Encountered per kLOC</td>
      <td style="text-align: center">{{ "{:.0f}".format(ty_d.row.violations_per_kloc.score) }}</td>
      <td style="text-align: center; color: var(--pico-muted-color); background-color: {{ ty_d.row.violations_per_kloc.color }}">
        {{ ty_d.row.violations_per_kloc.grade }}
      </td>
    </tr>
    {% endif %}
    {% if ty_d.row.weighted_violations_per_kloc.score %}
    <tr>
      <td style="text-align: left">Weighted Ty Checks per kLOC</td>
      <td style="text-align: center">{{ "{:.0f}".format(ty_d.row.weighted_violations_per_kloc.score) }}</td>
      <td style="text-align: center; color: var(--pico-muted-color); background-color: {{ ty_d.row.weighted_violations_per_kloc.color }}">
        {{ ty_d.row.weighted_violations_per_kloc.grade }}
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
