{% if ty_d %}

<section>

  <details name="details" open>
    <summary>Summary</summary>
    {% include "ty::fragments/body/level_0.html" %}
  </details>

  <details name="details">
    <summary>By Check</summary>
    {% include "ty::fragments/body/level_1.html" %}
  </details>

  <details name="details">
    <summary>By Directory</summary>
    {% include "ty::fragments/body/level_2.html" %}
  </details>

  <details name="details">
    <summary>File</summary>
    {% include "ty::fragments/body/level_3.html" %}
  </details>

  <details name="details">
    <summary>Derived Metrics</summary>
    {% include "ty::fragments/body/level_d.html" %}
  </details>

  <details name="details">
    <summary>Trend</summary>
    <div class="bordered">
      {{ ty_h }}
    </div>
  </details>

</section>

<hr />

<h6>As Of {{ ty_as_of }}</h6>

{% else %}

<p>Congratulations!...NO ty issues found.</p>

{% endif %}
