@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

:root {
  --pico-primary-background: #faf7f4;
  --pico-font-size: 75%;
  --pico-font-family: 'Roboto', sans-serif;
  --pico-primary: #2563eb;
  --pico-primary-hover: #1d4ed8;
}

/* Get the accordian "arrow" to display right after the text instead of right-aligned. */
details summary {
  max-width: fit-content;
}

/* We use a lot of summary's */
summary {
  font-size: 1.0rem;
  font-weight: bold;
}

/* Custom heading spacing */
h1 {
  # margin-bottom: 1rem;
}

h2 {
  margin-bottom: 0.75rem;
  color: #6c757d;
}

/* Make tables more compact */
table {
  font-size: 0.9rem;
  width: auto;
}
table th, table td {
  padding: 0.2rem 0.5rem;
}
table th {
  font-size: 1.1rem;
}

/* Style the navbar differently */
nav {
  font-size: 1.25rem;
  background-color: #f8f9fa;
  border-bottom: 2.0px solid #e9ecef;
}

/* Ensure that the admin menu entries don't get cut-off */
nav details.dropdown ul {
  font-size: 0.9rem;
  right: 0;
  left: auto;
}

/* Make charts responsive */
svg {
  max-width: 100%;
  height: auto;
}

/* Our simple "section" container (ie. border) */
.bordered {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  padding: 0rem;
  background: white;
}

 th[role=columnheader]:not(.no-sort) {
   cursor: pointer;
 }
 th[role=columnheader]:not(.no-sort):after {
   content: '';
   float: right;
   margin-top: 0.2em;
   margin-left: 0.25em;
   font-size: 0.7em;
   visibility: hidden;
 }
 th[aria-sort=ascending]:not(.no-sort):after {
   content: '↑';
   visibility: visible;
 }
 th[aria-sort=descending]:not(.no-sort):after {
   content: '↓';
   visibility: visible;
 }

/* What pico provides is way too subtle! */
[aria-current="page"] {
    font-weight: bold !important;
}

/* Try to enforce nice ratio of width/height on all charts */
 .plotly_chart {
   width: 100%;
   max-width: 1200px;  /* Optional: prevent too wide */
   aspect-ratio: 1.618 / 1;  /* Golden ratio */
 }
