{% if cloc_0 %}

<section>

  {% include "cloc::level_0.html" %}

  <details name="details">
    <summary>By Directory</summary>
    {% include "cloc::level_1.html" %}
  </details>

  <details name="details">
    <summary>By File</summary>
    {% include "cloc::level_2.html" %}
  </details>

  <details name="details">
    <summary>Trend</summary>
    <div class="plotly_chart">{{ cloc_h }}</div>
  </details>

  <details name="details">
    <summary>File Sizes</summary>
    <div class="plotly_chart">{{ cloc_f }}</div>
  </details>

</section>

<hr />

<h6>As Of {{ cloc_as_of }}</h6>

{% else %}

<p>Sorry, no CLOC results yet.</p>

{% endif %}
