<table>
  <thead>
    <tr>
      <th scope="col" style="text-align: center">LOC</th>
      <th scope="col" style="text-align: center">Comments</th>
      <th scope="col" style="text-align: center">Blanks</th>
      <th scope="col" style="text-align: center">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: right">   {{ "{:,d}".format(cloc_0.lines_code)    }}</td>
      <td style="text-align: right">   {{ "{:,d}".format(cloc_0.lines_comment) }}</td>
      <td style="text-align: right">   {{ "{:,d}".format(cloc_0.lines_blank)   }}</td>
      <td style="text-align: right"><b>{{ "{:,d}".format(cloc_0.lines_total)   }}</b></td>
    </tr>
    <tr>
      <td style="text-align: right"><small>{{ "%.1f"|format(cloc_0.lines_code_p)    }}%</small></td>
      <td style="text-align: right"><small>{{ "%.1f"|format(cloc_0.lines_comment_p) }}%</small></td>
      <td style="text-align: right"><small>{{ "%.1f"|format(cloc_0.lines_blank_p)   }}%</small></td>
      <td style="text-align: right"><small>{{ "%.1f"|format(cloc_0.lines_total_p)   }}%</small></td>
    </tr>
  </tbody>
</table>
