{% if fxtd_0 %}

<section>

  {% include "fxtd::level_0.html" %}

  <details name="details">
    <summary>By Directory</summary>
    {% include "fxtd::level_1.html" %}
  </details>

  <details name="details">
    <summary>By File</summary>
    {% include "fxtd::level_2.html" %}
  </details>

  {% if fxtd_h %}
  <details name="details">
    <summary>Trends</summary>
    <div class="plotly_chart">{{ fxtd_h }}</div>
  </details>
  {% endif %}

</section>

<hr />

<h6>As Of {{ fxtd_as_of }}</h6>

{% else %}

<p>Congratulations!...NO Fixme/Todo.. issues found.</p>

{% endif %}
