<table>
  <thead>
    <tr>
      <th scope="col" style="text-align: left">Metric</th>
      {% for language in scc_0.report_languages %}
      <th scope="col" style="text-align: right">{{ language }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in scc_0.rows %}
    <tr>
      <td style="text-align: left">{{ row.attr.title() }}</td>
      {% for language in scc_0.report_languages %}
      <td style="text-align: right">{{ "{:,d}".format(row.languages[language]) }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td style="text-align: left">DRYness</td>
      {% for language in scc_0.report_languages %}
        <td style="text-align: right; color: var(--pico-muted-color); background-color: {{ scc_0.dryness[language].color }}">
          {{ scc_0.dryness[language].score }}%
        </td>
      {% endfor %}
    </tr>
  </tfoot>
</table>
