<table>
  <thead>
    <tr>
      <th scope="col" style="text-align: left">Metric</th>
      {% for type in scc_0.types %}
      <th scope="col" style="text-align: right">{{ type.title() }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for attr in scc_0.attrs %}
    <tr>
      <td style="text-align: left">{{ attr.display }}</td>
      {% for type in scc_0.types %}
      <td style="text-align: right">{{ "{:,d}".format(scc_0.rows[attr.name][type]) }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
